.navbar {
	position: fixed;
	background-color: #393E46;
	transition: width 300ms ease;
	z-index: 1
}

.navbarNav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 100%;
}

.navItem {
	width: 100%;
}

.navItem:nth-last-child(4) {
	margin-top: auto;
}

.navLink {
	display: flex;
	align-items: center;
	height: 3rem;
	color: #BBBBBB;
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: 600ms;
}

.navLink:hover {
	filter: grayscale(0%) opacity(1);
	background-color: #060B13;
	color: #eeeeee;
}

.linkText {
	display: none;
	margin-left: 1rem;
}

.faPrimary {
	color: #00CAE7;
}

.faSecondary {
	color: #0092ca;
}

.faPrimary, .faSecondary {
	transition: 600ms ease;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 2rem;
	text-align: center;
	color: #eeeeee;
	background-color: #060B13;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.3ch;
	width: 100%;
	font-family: "Ubuntu";
}

.logoLink {
	display: flex;
	text-align: center;
	align-items: center;
	color: #BBBBBB;
	text-decoration: none;
	transition: 600ms;
}

.logoLink:hover {
	color:#eeeeee;
}

.logoImg {
	width: 5rem;
	height: auto;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 3rem;
		overflow: auto;
	}

	.logo {
		display: none;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.navItem {
		width: 5rem;
	}

	.navLink {
		justify-content: center;
	}
}

@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}

	.navbar:hover{
		width: 16rem;
	}

	.navbarNav {
		flex-direction: column;
	}

	.navbar:hover .linkText {
		display: inline;
	}
}